/*
|---------------------------------------------------------
| MAIN LAYOUT                                      1440PX
|---------------------------------------------------------
|
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 340px;
}

.main-content {
    flex: 1;
}

.container {
    width: 96%;
    max-width: 1440px;
    margin: 0 auto;
}

.main-footer {
    margin-top: 250px;
    position: relative;
    background: lightslategray;
}

/*
|---------------------------------------------------------
| GLOBAL STYLES                                    1440PX
|---------------------------------------------------------
|
*/

/* Grid Styles */

.grid {
    display: grid;
    gap: 24px;
}

.grid-1 { grid-template-columns: 1fr; }
.grid-2 { grid-template-columns: repeat(2, 1fr); }
.grid-3 { grid-template-columns: repeat(3, 1fr); }
.grid-4 { grid-template-columns: repeat(4, 1fr); }

:root {
    
    /* Colors */
    --full-black: #000;
    --full-white: #fff;
    --main-txt: #525675;
    --main-purple: #6B7BD3;
    --purple-darker: #5668CD;
    --silent-white: #FFF5EB;
    --main-yellow: #FFC52C;
    --rich-grey: #3B3B3B;
    --white-lilac: #F8F8FC;
    --moon-raker: #D2D2F3;
    --medium-electric-blue: #00529B;
    --cotton-white: #FFFBF6;

    /* Borders */
    --border-radius-main: 24px;
    --border-radius-btn: 18px;
    --border-radius-lang-btn: 14px;
    --border-standard: 1px solid var(--moon-raker);
    --border-yellow: 1px solid #F5E8DC;

    /* Margins and Paddings */
    --section-padding-06-12: 60px 0 120px;
    --section-padding-12-06: 120px 0 60px;
    --section-padding-10-12: 100px 0 120px;
    --section-padding-12-12: 120px 0 120px; 
    --section-padding-12-10: 120px 0 100px; 
    --section-padding-0-12: 0 0 120px;

}

.hero-section { padding: var(--section-padding-06-12); }
.features-section { padding: var(--section-padding-10-12); }
.certificates-section-v2 { padding: var(--section-padding-12-06); }
.about-us-section { padding: var(--section-padding-12-12); }
.faq-section { padding: var(--section-padding-0-12) }
.ratings-section { padding: var(--section-padding-12-12); }

/* Buttons */
.btn-standard {
    display: flex;
    gap: 10px;
    font-size: 16px;
    padding: 12px 18px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-regular);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius-btn);
    transition: background-color 0.3s ease; 
}

.btn-purple { 
    color: var(--full-white);
    background-color: var(--purple-darker);
}

.btn-purple:hover {
    background-color: #404d99;
}

.btn-transparent {
    color: var(--purple-darker);
    border: 2px solid var(--purple-darker);
}

.btn-transparent:hover {
    color: var(--full-white);
    background-color: #404d99;
    border: 2px solid #404d99;
}

.btn-transparent-file, .btn-blue-file {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.file-btn-icon {
    width: 15px;
    height: 19px;
    margin-top: 2px;
    min-width: 15px;
    background-size: 15px 19px;
    background-repeat: no-repeat;
}

.file-btn-icon-red {
    background-image: url('../media/images/pdf-icon-red.svg');
}

.file-btn-icon-blue {
    background-image: url('../media/images/pdf-icon-white-1.svg');
}

.btn-blue {
    color: var(--full-white);
    background-color: var(--medium-electric-blue);
}

.btn-blue:hover {
    background-color: #053f72;
}

/* Section Header */
.section-header {
    display: flex;
    padding-bottom: 40px;
}

.section-header-wq {
    gap: 24px;
}

.section-header-wq .section-header-lft  {
    width: 50%;
}

.section-header-lft {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 708px;
    align-items: center;  
}

.section-mascot {
    min-width: 82px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;       
}

.section-header-h3 {
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    color: var(--main-purple);
    font-family: var(--font-primary);
    font-feature-settings: "case" on;
    font-weight: var(--font-weight-black);
}

.section-header-rgt {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 142px 100%;
    background-position: 20%;
    background-image: url('../media/images/quote-icon.svg');
}

.section-header-quote {
    width: 100%;
    z-index: 9;
    margin: 0;
    font-size: 15px;
    line-height: 26px;
    color: var(--main-txt);
    font-family: var(--font-regular);
    font-weight: var(--font-weight-semibold);
}

/* Image Styles */
.img-scale { transition: transform 0.3s ease-in-out; } 
.img-scale:hover { transform: scale(1.08); }

/* Lines */
.line {
    width: 100%;
    height: 1px;
}

.line-blue { background-color: var(--moon-raker); }

/*
|---------------------------------------------------------
| MAIN HEADER                                      1440PX
|---------------------------------------------------------
|
*/

.main-header {
    background-color: var(--main-purple);
}

.main-header-ui {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.header-ui-lft {
    width: 30%;
}

.header-logo-img {
    width: 154px;
    height: auto;
    max-width: 100%;
}

.header-ui-ctr {
    width: 70%;
}

.header-ui-rgt {
    width: 30%;
    display: flex;
    justify-content: end;
}

/* Main Navigation */

.hamburger {
    display: none;
    visibility: hidden;
}

.main-nav {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-feature-settings: "case" on;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 3%;
}

.main-nav ul li a { 
    font-size: 17px;
    text-decoration: none;
    color: var(--full-white);
    font-weight: var(--font-weight-medium);
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

/* Header Button */

.lang-btn {
    display: flex;
    gap: 10px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--full-white);
    border-radius: var(--border-radius-lang-btn);
}

.lang-btn-icon {
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}

.lang-btn-en { background-image: url('../media/images/eng-flag.png'); }

.lang-btn-ge { background-image: url('../media/images/geo-flag.png'); }

.lang-btn-txt {
    font-size: 16px;
    margin-bottom: 2px;
    color: var(--main-purple);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}

/*
|---------------------------------------------------------
| HERO SECTION                                     1440PX
|---------------------------------------------------------
|
*/

.hero-section {
    overflow: hidden;
    background-color: var(--silent-white);
    background-image:
        linear-gradient(rgba(217, 217, 217, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(217, 217, 217, 0.3) 1px, transparent 1px);
    background-size: 26px 26px; 
}

.hero-section-lft {
    display: flex;
    align-items: center;
}

.hero-section-h1 {
    margin: 0;
    font-size: 64px;
    line-height: 80px;
    color: var(--main-purple);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-black);
}

.hero-section-h2 {
    font-size: 17px;
    line-height: 28px;
    margin: 24px 0 36px;
    color: var(--main-txt);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}

.hero-btns {
    display: flex;
    gap: 24px;
}

.hero-section-img-div {
    width: 100%;
    height: 616px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../media/images/drbaby-hero-image-1.webp');
}

/*
|---------------------------------------------------------
| FEATRUES SECTION                                 1440PX
|---------------------------------------------------------
|
*/

.features-section {
    overflow: hidden;
    box-sizing: border-box;
}

.features-section-mascot {
    background-image: url('../media/images/drbaby-mascot-small-1.webp');
}

.features-card {
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    border: var(--border-standard);
    border-radius: var(--border-radius-main);
}

.features-card-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
    border-radius: 100%;
    background-size: 58px 74px;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--border-standard);
    transition: transform 0.4s ease-in-out; 
    transform-style: preserve-3d; 
}

.features-card:hover .features-card-icon {
    transform: rotateY(180deg);
}

.features-card-title {
    font-size: 18px;
    line-height: 28px;
    color: var(--main-purple);
    font-family: var(--font-primary);
    font-feature-settings: "case" on;
    font-weight: var(--font-weight-semibold);
}

.features-card-line {
    width: 66px;
    height: 12px;
    margin: 24px;
    background-size: 66px 12px;
    background-repeat: no-repeat;
}

.features-card-txt {
    font-size: 15px;
    line-height: 24px;
    color: var(--main-txt);
    font-family: var(--font-regular);
}

.features-card-icon-1 {
    background-image: url('../media/images/feature-icon-1.svg');
}

.features-card-icon-2 {
    background-image: url('../media/images/feature-icon-2.svg');
}

.features-card-icon-3 {
    background-image: url('../media/images/feature-icon-3.svg');
}

.features-card-icon-4 {
    background-image: url('../media/images/feature-icon-4.svg');
}

.features-card-line-1 {
    background-image: url('../media/images/card-doodle-line-v1.svg');
}

.features-card-line-2 {
    background-image: url('../media/images/card-doodle-line-v2.svg');
}

.features-card-line-3 {
    background-image: url('../media/images/card-doodle-line-v3.svg');
}

.features-card-line-4 {
    background-image: url('../media/images/card-doodle-line-v4.svg');
}

/*
|---------------------------------------------------------
| PRODUCTS SECTION                                 1440PX
|---------------------------------------------------------
|
*/

.products-section-mascot {
    background-image: url('../media/images/drbaby-mascot-small-2.webp');
}

.product-cards {
    gap: 36px 24px;
}

.product-card {
    max-width: 400px;
    margin: 0 auto;
}

.product-card-img-div {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: var(--border-yellow);
    border-radius: var(--border-radius-main);
}

.product-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card-info {
    display: flex;
    gap: 6px;
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
}

.product-card-info-txt,
.product-claim {
    font-size: 18px;
    color: var(--main-txt);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}

/*
|---------------------------------------------------------
| CERTIFICATES SECTION                             1440PX
|---------------------------------------------------------
|
*/

.certificates-section {
    padding: var(--section-padding-12-12);
}

.certificates-section-mascot {
    background-image: url('../media/images/drbaby-mascot-small-3.webp');
}

.certificates {
    display: flex;
    gap: 36px;
    flex-direction: column;
    grid-column: span 3; 
}

.certificate {
    display: flex;
    gap: 24px;
}

.certificate-image-div {
    width: 15%;
    height: auto;
}

.certificate-image {
    width: 100%;
}

.certificates-btn {
    width: auto;
}

.certificate-info {
    width: 85%;
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
}

.certificate-title {
    font-size: 18px;
    line-height: 28px;
    color: var(--main-purple);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
}

.certificate-description{
    font-size: 15px;
    line-height: 24px;
    color: var(--main-txt);
    font-family: var(--font-regular);
    font-weight: var(--font-weight-medium);
}

.certificates-3d-mascot {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../media/images/drbaby-3d-mascot-1-1.webp');
}

/*
|---------------------------------------------------------
| CERTIFICATES SECTION V2                          1440PX
|---------------------------------------------------------
|
*/

.certificate-v1 {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.certificate-v1-image-div {
    width: 26%;
    height: auto;
}

.certificate-image-v1 {
    width: 100%;
    height: auto;
}

.certificate-info-v1 {
    display: flex;
    width: 74%;
    flex-direction: column;
    align-items: flex-start;
}

/*
|---------------------------------------------------------
| ABOUT MASCOT SECTION                             1440PX
|---------------------------------------------------------
|
*/

.mascot-section-mascot {
    background-image: url('../media/images/drbaby-mascot-small-4.webp');
}

.about-mascot-content-lft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-mascot-txt {
    font-size: 15px;
    line-height: 28px;
    margin-top: 0;
    color: var(--main-txt);
    font-family: var(--font-regular);
    font-weight: var(--font-weight-medium);
}

.about-mascot-content-rgt {
    max-height: 496px;
}

.about-mascot-3d-mascot {
    width: 100%;
    height: 100%;
    aspect-ratio:  617 / 496;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../media/images/drbaby-3d-mascot-6.webp');
}

/*
|---------------------------------------------------------
| ABOUT US SECTION                                 1440PX
|---------------------------------------------------------
|
*/

.about-us-section-mascot {
    background-image: url('../media/images/drbaby-mascot-small-6.webp');
}

.about-us-ui-lft {
    display: flex;
    align-items: center;
}

.about-us-txt {
    font-size: 15px;
    line-height: 28px;
    margin-top: 0;
    color: var(--main-txt);
    font-family: var(--font-regular);
    font-weight: var(--font-weight-medium);
}

.about-us-ui-img-div {
    max-height: 500px;
}

.about-us-ui-img-div {
    width: 100%;
    height: 100%;
    aspect-ratio:  767 / 500;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../media/images/drbaby-3d-mascot-7.png');
}

/*
|---------------------------------------------------------
| FAQ SECTION                                      1440PX
|---------------------------------------------------------
|
*/

.faq-container {
    display: flex;
    gap: 24px; 
    margin: 0 auto;
    align-items: flex-start;
    font-family: sans-serif;
}

.faq-column {
    flex: 1;
    gap: 24px; 
    display: flex;
    flex-direction: column;
}

.faq-item {
    overflow: hidden;
    box-sizing: border-box;
    border: var(--border-standard);
    border-radius: var(--border-radius-main);
    transition: border-color 0.3s ease;
}

.faq-question {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
    color: var(--main-txt);
    cursor: pointer;
    border: none;
    background: none;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    transition: color 0.3s ease;
}

.faq-question .icon {
    font-size: 32px;
    font-weight: 400;
    color: var(--purple-darker); 
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon {
    padding-left: 14px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.faq-answer-inner {
    font-size: 15px;
    line-height: 24px;
    color: var(--main-txt);
    padding: 0 24px 24px 24px;
    font-family: var(--font-regular);
    font-weight: var(--font-weight-medium);
}

.faq-item.active {
    border-color: var(--main-purple);
}

.faq-item.active .faq-question {
    color: var(--purple-darker); 
}

.faq-item.active .faq-question .icon {
    color: var(--purple-darker); 
    transform: rotate(45deg); 
}

/*
|---------------------------------------------------------
| RATINGS SECTION                                  1440PX
|---------------------------------------------------------
|
*/

.ratings-section {
    background-color: var(--silent-white);
}

.ratings-ui-lft {
    display: flex;
    gap: 36px;
    text-align: center;
    flex-direction: column;
}

.ratings-disclaimer-txt {
    font-size: 14px;
    
    color: var(--main-txt);
    font-family: var(--font-regular);
    font-weight: var(--font-weight-mediumregular);
}

.ratings-certificate {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
}

.ratings-certificate-img {
    width: 100%;
    height: auto;
    max-width: 180px;
}

.ratings-btn {
    padding: 15px 18px;
}

.ratings-ui-rgt {
    height: 100%;
    grid-column: span 2;
}

.rating-card {
    padding: 24px 36px;
    box-sizing: border-box;
    border: var(--border-yellow);
    background-color: var(--cotton-white);
    border-radius: var(--border-radius-main);
    
}

.rating-card-top {
    display: flex;
    gap: 8px;
    align-items: start;
    justify-content: space-between;
}

.rating-card-title {
    font-size: 17px;
    color: var(--main-txt);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}

.rating-card-quote-icon {
    min-width: 24px;
    height: 24px;
    background-size: 24px;
    background-image: url('../media/images/quote-icon-yellow.svg');
}

.rating-card-txt {
    font-size: 16px;
    line-height: 24px;
    color: var(--main-txt);
    font-family: var(--font-regular);
    font-weight: var(--font-weight-medium);
}

/*
|---------------------------------------------------------
| MAIN FOOTER                                      1440PX
|---------------------------------------------------------
|
*/

.main-footer {
    padding-bottom: 48px;
    background-color: var(--white-lilac);
    background-image:
        linear-gradient(rgba(217, 217, 217, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(217, 217, 217, 0.3) 1px, transparent 1px);
    background-size: 26px 26px;
}

.footer-top-ui {
    display: flex;
    margin-top: -150px;
    align-items: center;
    flex-direction: column;
}

.footer-mascot {
    width: 150px;
    height: 106px;
    z-index: 333;
    background-size: contain;
    background-image: url('../media/images/footer-mascot.webp');
}

.footer-top {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    max-width: 960px;
    margin-top: -20px;
    padding: 48px 24px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-purple);
    border-radius: var(--border-radius-main);
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.05) 2px, transparent 2px);
    background-size: 18px 18px;
}

.footer-info-txt {
    margin-bottom: 36px;
    text-decoration: none;
    color: var(--full-white);
    font-family: var(--font-primary);
}

.footer-nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav ul a {
    text-decoration: none;
    color: var(--full-white);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-family: var(--font-primary);
}

.footer-nav ul a:hover {
    text-decoration: underline;
}

.footer-bottom-info {
    display: flex;
    gap: 18px;
    margin-top: 36px;
    align-items: center;
    justify-content: center;
}

.footer-logo-img {
    width: 82px;
    height: 52px;
}

.footer-copyright-txt {
    font-size: 15px;
    color: var(--main-txt);
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}












